accessible-pygments==0.0.5 ; python_version >= "3.11" and python_version < "4.0"
alabaster==0.7.16 ; python_version >= "3.11" and python_version < "4.0"
anyio==4.9.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
appnope==0.1.4 ; python_version >= "3.11" and python_version < "4.0" and platform_system == "Darwin"
argon2-cffi-bindings==21.2.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
argon2-cffi==23.1.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
arrow==1.3.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
asttokens==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
attrs==25.3.0 ; python_version >= "3.11" and python_version < "4.0"
babel==2.17.0 ; python_version >= "3.11" and python_version < "4.0"
beautifulsoup4==4.13.4 ; python_version >= "3.11" and python_version < "4.0"
bleach[css]==6.2.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
certifi==2025.4.26 ; python_version >= "3.11" and python_version < "4.0"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "4.0" and (implementation_name == "pypy" or platform_system != "Emscripten")
charset-normalizer==3.4.2 ; python_version >= "3.11" and python_version < "4.0"
click==8.2.0 ; python_version >= "3.11" and python_version < "4.0"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4.0" and (platform_system == "Windows" or sys_platform == "win32")
comm==0.2.2 ; python_version >= "3.11" and python_version < "4.0"
contourpy==1.3.2 ; python_version >= "3.11" and python_version < "4.0"
cycler==0.12.1 ; python_version >= "3.11" and python_version < "4.0"
debugpy==1.8.14 ; python_version >= "3.11" and python_version < "4.0"
decorator==5.2.1 ; python_version >= "3.11" and python_version < "4.0"
defusedxml==0.7.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
docutils==0.21.2 ; python_version >= "3.11" and python_version < "4.0"
executing==2.2.0 ; python_version >= "3.11" and python_version < "4.0"
fastjsonschema==2.21.1 ; python_version >= "3.11" and python_version < "4.0"
fonttools==4.58.0 ; python_version >= "3.11" and python_version < "4.0"
fqdn==1.5.1 ; python_version >= "3.11" and python_version < "4" and platform_system != "Emscripten"
greenlet==3.2.2 ; python_version < "3.14" and (platform_machine == "aarch64" or platform_machine == "ppc64le" or platform_machine == "x86_64" or platform_machine == "amd64" or platform_machine == "AMD64" or platform_machine == "win32" or platform_machine == "WIN32") and python_version >= "3.11"
idna==3.10 ; python_version >= "3.11" and python_version < "4.0"
imagesize==1.4.1 ; python_version >= "3.11" and python_version < "4.0"
importlib-metadata==8.7.0 ; python_version >= "3.11" and python_version < "4.0"
ipykernel==6.29.5 ; python_version >= "3.11" and python_version < "4.0"
ipython-pygments-lexers==1.1.1 ; python_version >= "3.11" and python_version < "4.0"
ipython==9.2.0 ; python_version >= "3.11" and python_version < "4.0"
isoduration==20.11.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
jedi==0.19.2 ; python_version >= "3.11" and python_version < "4.0"
jinja2==3.1.6 ; python_version >= "3.11" and python_version < "4.0"
jsonpointer==3.0.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
jsonschema-specifications==2025.4.1 ; python_version >= "3.11" and python_version < "4.0"
jsonschema==4.23.0 ; python_version >= "3.11" and python_version < "4.0"
jsonschema[format-nongpl]==4.23.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
jupyter-book==1.0.4.post1 ; python_version >= "3.11" and python_version < "4.0"
jupyter-cache==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
jupyter-client==8.6.3 ; python_version >= "3.11" and python_version < "4.0"
jupyter-core==5.7.2 ; python_version >= "3.11" and python_version < "4.0"
jupyter-events==0.12.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
jupyter-server-terminals==0.5.3 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
jupyter-server==2.16.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
jupyterlab-myst==2.4.2 ; python_version >= "3.11" and python_version < "4.0"
jupyterlab-pygments==0.3.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
jupytext==1.17.1 ; python_version >= "3.11" and python_version < "4.0"
kiwisolver==1.4.8 ; python_version >= "3.11" and python_version < "4.0"
latexcodec==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
linkify-it-py==2.0.3 ; python_version >= "3.11" and python_version < "4.0"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4.0"
markupsafe==3.0.2 ; python_version >= "3.11" and python_version < "4.0"
matplotlib-inline==0.1.7 ; python_version >= "3.11" and python_version < "4.0"
matplotlib==3.10.3 ; python_version >= "3.11" and python_version < "4.0"
mdit-py-plugins==0.4.2 ; python_version >= "3.11" and python_version < "4.0"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4.0"
mistune==3.1.3 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
myst-nb==1.2.0 ; python_version >= "3.11" and python_version < "4.0"
myst-parser==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
nbclient==0.10.2 ; python_version >= "3.11" and python_version < "4.0"
nbconvert==7.16.6 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
nbformat==5.10.4 ; python_version >= "3.11" and python_version < "4.0"
nest-asyncio==1.6.0 ; python_version >= "3.11" and python_version < "4.0"
numpy==2.2.5 ; python_version >= "3.11" and python_version < "4.0"
overrides==7.7.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
packaging==25.0 ; python_version >= "3.11" and python_version < "4.0"
pandocfilters==1.5.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
parso==0.8.4 ; python_version >= "3.11" and python_version < "4.0"
pexpect==4.9.0 ; python_version >= "3.11" and python_version < "4.0" and (sys_platform != "win32" and sys_platform != "emscripten")
pillow==11.2.1 ; python_version >= "3.11" and python_version < "4.0"
platformdirs==4.3.8 ; python_version >= "3.11" and python_version < "4.0"
prometheus-client==0.22.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
prompt-toolkit==3.0.51 ; python_version >= "3.11" and python_version < "4.0"
psutil==7.0.0 ; python_version >= "3.11" and python_version < "4.0"
ptyprocess==0.7.0 ; python_version >= "3.11" and python_version < "4.0" and (platform_system != "Emscripten" or sys_platform != "win32" and sys_platform != "emscripten") and (os_name != "nt" or sys_platform != "win32" and sys_platform != "emscripten")
pure-eval==0.2.3 ; python_version >= "3.11" and python_version < "4.0"
pybtex-docutils==1.0.3 ; python_version >= "3.11" and python_version < "4.0"
pybtex==0.24.0 ; python_version >= "3.11" and python_version < "4.0"
pycparser==2.22 ; python_version >= "3.11" and python_version < "4.0" and (implementation_name == "pypy" or platform_system != "Emscripten")
pydata-sphinx-theme==0.15.4 ; python_version >= "3.11" and python_version < "4.0"
pygments==2.19.1 ; python_version >= "3.11" and python_version < "4.0"
pyparsing==3.2.3 ; python_version >= "3.11" and python_version < "4.0"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4.0"
python-json-logger==3.3.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
pywin32==310 ; sys_platform == "win32" and platform_python_implementation != "PyPy" and python_version >= "3.11" and python_version < "4.0"
pywinpty==2.0.15 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten" and os_name == "nt"
pyyaml==6.0.2 ; python_version >= "3.11" and python_version < "4.0"
pyzmq==26.4.0 ; python_version >= "3.11" and python_version < "4.0"
referencing==0.36.2 ; python_version >= "3.11" and python_version < "4.0"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4.0"
rfc3339-validator==0.1.4 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
rfc3986-validator==0.1.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
rpds-py==0.25.0 ; python_version >= "3.11" and python_version < "4.0"
send2trash==1.8.3 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
setuptools==80.7.1 ; python_version >= "3.11" and python_version < "4.0"
six==1.17.0 ; python_version >= "3.11" and python_version < "4.0"
sniffio==1.3.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
snowballstemmer==3.0.1 ; python_version >= "3.11" and python_version < "4.0"
soupsieve==2.7 ; python_version >= "3.11" and python_version < "4.0"
sphinx-book-theme==1.1.4 ; python_version >= "3.11" and python_version < "4.0"
sphinx-comments==0.0.3 ; python_version >= "3.11" and python_version < "4.0"
sphinx-copybutton==0.5.2 ; python_version >= "3.11" and python_version < "4.0"
sphinx-design==0.6.1 ; python_version >= "3.11" and python_version < "4.0"
sphinx-external-toc==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
sphinx-jupyterbook-latex==1.0.0 ; python_version >= "3.11" and python_version < "4.0"
sphinx-multitoc-numbering==0.1.3 ; python_version >= "3.11" and python_version < "4.0"
sphinx-thebe==0.3.1 ; python_version >= "3.11" and python_version < "4.0"
sphinx-togglebutton==0.3.2 ; python_version >= "3.11" and python_version < "4.0"
sphinx==7.4.7 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-applehelp==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-bibtex==2.6.3 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-devhelp==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-htmlhelp==2.1.0 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-jsmath==1.0.1 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-qthelp==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
sphinxcontrib-serializinghtml==2.0.0 ; python_version >= "3.11" and python_version < "4.0"
sqlalchemy==2.0.41 ; python_version >= "3.11" and python_version < "4.0"
stack-data==0.6.3 ; python_version >= "3.11" and python_version < "4.0"
tabulate==0.9.0 ; python_version >= "3.11" and python_version < "4.0"
terminado==0.18.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
tinycss2==1.4.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
tornado==6.5 ; python_version >= "3.11" and python_version < "4.0"
traitlets==5.14.3 ; python_version >= "3.11" and python_version < "4.0"
types-python-dateutil==2.9.0.20250516 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
typing-extensions==4.13.2 ; python_version >= "3.11" and python_version < "4.0"
uc-micro-py==1.0.3 ; python_version >= "3.11" and python_version < "4.0"
uri-template==1.3.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
urllib3==2.4.0 ; python_version >= "3.11" and python_version < "4.0"
wcwidth==0.2.13 ; python_version >= "3.11" and python_version < "4.0"
webcolors==24.11.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
webencodings==0.5.1 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
websocket-client==1.8.0 ; python_version >= "3.11" and python_version < "4.0" and platform_system != "Emscripten"
wheel==0.45.1 ; python_version >= "3.11" and python_version < "4.0"
zipp==3.21.0 ; python_version >= "3.11" and python_version < "4.0"
